{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Administration' %}

{% block page_content %}


    <div class="container">

        <div class="column">

            <div class="row">
                <div class="col-6">
                    <span class='display-1'> {{ nb_user }} </span> Utilisateurs
                </div>

                <div class="col-6">
                    <span class='display-1'> {{ nb_storageSpace }} </span> Espaces de stockage
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <span class='display-1'> {{ nb_category }} </span> Catégories
                </div>

                 <div class="col-6">
                    <span class='display-1'> {{ nb_booking }} </span> Réservations
                </div> 
            </div>

            <div class="row">
                <div class="col-6">
                    <span class='display-1'> {{ nb_comment }} </span> Commentaires
                </div>
            </div>
        </div>
    <div>
{% endblock %}