{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<div class="container">

    <h1 class="">Se Connecter</h1>

    <div class="container_form">

        {% if error %}

        {# <pre>
            {{ dump(error) }}
        </pre> #}
            <div class='error_form_login'>
                Email ou mot de passe incorrect(s)
            </div>
        {% endif %}

        <form method="post">

            {% if app.user %}
                {# <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div> #}
            {% endif %}


            <div class="div_form">
                <label for="inputEmail" class="form_label">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form_input" required autofocus>
            </div>

            <div class="div_form">
                <label for="inputPassword" class="form_label">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form_input" required>
            </div>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}

            <button class="btn" type="submit">
                Se connecter
            </button>
        </form>
    </div>

</div>
{% endblock %}
