{% extends "base.html.twig" %}

{% block title 'Inscription' %}

{% block body %}

<div class="container">

    <h1 class="">S'inscrire</h1>

    <div class="container_form">

        {{ form_start(formRegistration, { 'attr' : { 'class' : 'form' }} ) }}

            <div class="div_form">

                <div class="form-error">
                    {{ form_errors(formRegistration.lastName) }}
                </div>

                <label for="inputUsername" class="form_label">Nom d'utilisateur</label>

                <div>
                    {{ form_widget(formRegistration.lastName, {attr : {class : 'form_input' }} ) }}
                </div>
                
                <small>{{ form_errors(formRegistration.lastName) }} </small>

            </div>

            <div class="div_form">

                <div class="form-error">
                    {{ form_errors(formRegistration.firstName) }}
                </div>

                <label for="inputUsername" class="form_label">Prénom d'utilisateur</label>

                <div>
                    {{ form_widget(formRegistration.firstName, {attr : {class : 'form_input' }} ) }}
                </div>
                
                <small>{{ form_errors(formRegistration.firstName) }} </small>

            </div>

            <div class="div_form">

                <label for="inputEmail" class="form_label">{{ form_label(formRegistration.email) }}</label>

                <div>
                    {{ form_widget(formRegistration.email, {attr : {class : 'form_input' }} ) }}
                </div>
                
                <small>{{ form_errors(formRegistration.email) }} </small>
            </div>

            <div class="div_form">

                <div class="form-error">
                    {{ form_errors(formRegistration.password) }}
                </div>

                <label for="inputPassword" class="form_label">Mot de passe</label>

                <div>
                    {{ form_widget(formRegistration.password, {attr : {class : 'form_input' }} ) }}
                </div>
                
                <small>{{ form_errors(formRegistration.password) }} </small>

            </div>

            <div class="div_form">

                <div class="form-error">
                    {{ form_errors(formRegistration.confirm_password) }}
                </div>

                <label for="inputPassword" class="form_label">Confirmer Mot de passe</label>

                <div>
                    {{ form_widget(formRegistration.confirm_password, {attr : {class : 'form_input' }} ) }}
                </div>
                
                <small>{{ form_errors(formRegistration.confirm_password) }} </small>
            </div>

            {# <div class="form__group">
                <label for="inputImage">Photo de profil (Facultatif)</label>
                {{ form_widget(form.image.file, {attr : {class : 'form__control'} } ) }}
                {{ form_errors(form.image.file) }}
            </div> #}
            <div class="form_action">
                <a href="{{ path('app_login')}}">Vous avez un compte ? Connectez-vous</a> 
            </div>

            <button type="submit" class="btn_submit">S'incrire</button>

        {{ form_end(formRegistration) }}
    </div>
</div>
{% endblock body %}