{% extends "base.html.twig" %}

{% block title 'Inscription' %}

{% block stylesheets %}
    {{ parent() }}
    {#{{ encore_entry_link_tags('app') }}#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {#{{ encore_entry_script_tags('app') }}#}
    {{ encore_entry_script_tags('frontend/page-register') }}
    {{ encore_entry_script_tags('frontend/page-register-check') }}
{% endblock %}

{% block body %}

<div class="container">

    <h1 class="">S'inscrire</h1>

    <div class="container_form">

        {{ form_start(formRegistration, { 'attr' : { class: 'form', id: 'user-registration-form' }} ) }}

            <div class="div_form">
                <label for="inputUsername" class="form_label">Nom d'utilisateur</label>
                <div>
                    {{ form_widget(formRegistration.lastName, {attr : {class : 'form_input' }} ) }}
                </div>
                <small class="error_input_small" id="error_lastName">{{ form_errors(formRegistration.lastName) }} </small>
            </div>

            <div class="div_form">
                <label for="inputUsername" class="form_label">Prénom d'utilisateur</label>
                <div>
                    {{ form_widget(formRegistration.firstName, {attr : {class : 'form_input' }} ) }}
                </div>
                <small class="error_input_small" id="error_firstName">{{ form_errors(formRegistration.firstName) }} </small>
            </div>

            <div class="div_form">
                <label for="inputEmail" class="form_label">{{ form_label(formRegistration.email) }}</label>
                <div>
                    {{ form_widget(formRegistration.email, {attr : {class : 'form_input' }} ) }}
                </div>
                <small class="error_input_small" id="error_email">{{ form_errors(formRegistration.email) }} </small>
            </div>

            <div class="div_form">
                <label for="inputPassword" class="form_label">Mot de passe</label>
                <div>
                    {{ form_widget(formRegistration.password, {attr : {class : 'form_input' }} ) }}
                </div>
                <small class="error_input_small" id="error_password">{{ form_errors(formRegistration.password) }} </small>
            </div>

            <div class="div_form">
                <label for="inputPassword" class="form_label">Confirmer Mot de passe</label>
                <div>
                    {{ form_widget(formRegistration.confirm_password, {attr : {class : 'form_input' }} ) }}
                </div>
                <small class="error_input_small" id="error_confirm_password">{{ form_errors(formRegistration.confirm_password) }} </small>
            </div>

            <div class="form_action">
                <a href="{{ path('app_login')}}">Vous avez un compte ? Connectez-vous</a> 
            </div>

            <button type="submit" class="btn" id="register_submit">S'incrire</button>

        {{ form_end(formRegistration) }}
    </div>
</div>
{% endblock body %}