{% extends "base.html.twig" %}

{% block title 'Créer un espace de stockage' %}


{% block javascrpit2 %}
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block body %}
<div class="form_container">

    <h1>Faire une réservation</h1>

    {% if oneBookingTrue == true %}
        <p>Il est possible de souscrire qu'à un seul abonnement </p>
        <p>Vous avez un abonnement déjà en cours</p>
    {% endif %}

    <div class="product">
        {# <img src="https://i.imgur.com/EHyR2nP.png" alt="The cover of Stubborn Attachments" /> #}

        <div class="description">
            <h3>{{storageSpace.title }}</h3>
            <h4>{{storageSpace.space }} m2</h4>
            <h5>{{ storageSpace.priceByMonth }} €/mois</h5>
        </div>
    </div>

    {% if oneBookingTrue != true %}

        {{ form_start(formBooking, { 'attr' : { 'class' : 'form' }} ) }}

            <div class="form_group">

                <div class="form-error">
                    {{ form_errors(formBooking.dateStartAt) }}
                </div>

                <label for="inputTitle">Date de réservation : </label>

                <div>
                    {{ form_widget(formBooking.dateStartAt, {attr : 
                        {
                            class : 'form_control js-datepicker',

                        }} ) }}
                </div>
                
                <small>{{ form_errors(formBooking.dateStartAt) }} </small>

            </div>
            <input type='hidden' name='storage' value="{{ storageSpace.id }}" id='storage'>

            <button type='submit' class="btn_submit" >Reserver </button>
        
        {{ form_end(formBooking) }}

    {% endif %}
</div>
{% endblock body %}