{% extends "base.html.twig" %}

{% block title 'Voir tous mes transactions' %}

{% block body %}

<div class="container">

    <section>
        <h1>Voir tous mes transactions</h1>

        
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nom du produit</th>
                    <th scope="col">Adresse complet du produit</th>
                    <th scope="col">Type du produit</th>
                    <th scope="col">espace du produit</th>
                    <th scope="col">Propriétaire du produit</th>
                    <th scope="col">Prix/mois du produit</th>
                    <th scope="col">Date de création de la réservation</th>
                    <th scope="col">Date du début de la réservation</th>
                    <th scope="col">Date de fin de la réservation</th>
                    <th></th>
                </tr>
            </thead>

            

            <tbody>
                {% for booking in bookings %}
                <pre>
            {{ dump(booking) }}
        </pre>
                    <tr>
                        <td>{{ booking.storageSpace.title }}</td>
                        <td>
                            {{ booking.storageSpace.adresse }}
                            {{ booking.storageSpace.postalCode }}
                            {{ booking.storageSpace.city }}
                        </td>
                        <td>{{ booking.storageSpace.type }}</td>
                        <td>{{ booking.storageSpace.space }} m2</td>
                        <td>
                            {{ booking.storageSpace.owner.firstName }}
                            {{ booking.storageSpace.owner.lastName }}
                        </td>
                        <td>{{ booking.storageSpace.price }}€/mois</td>
                        <td>{{ booking.dateCreatedAt | date('d/m/Y H:i') }}</td>
                        <td>{{ booking.dateStartAt | date('d/m/Y') }}</td>

                        {% if booking.dateEndAt %}
                            <td>{{ booking.dateEndAt | date('d/m/Y') }}</td>
                        {% else %}
                               <td></td>
                        {% endif %}
                        
                        <td><a href="{{ path('booking_finish', { 'id' : booking.id }) }}">Mettre fin à l'abonnement</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</div>    

{% endblock body %}


