{% extends 'base.html.twig' %}

{% block title %}Tous les espaces de stockage{% endblock %}

{% block body %}

<div class="container">
    <h1>Tous les espaces de stockage</h1>

    {% if app.user %}
        <p class='link_for_add'><a href="{{ path('storage_space_add' ) }}" >Ajouter un espace de stockage</a></p>
    {% else %}
    {% endif %}

    
    <section class="get_all_storage_space">
        

        {% for storageSpace in storageSpaces %}

            {% if storageSpace.available == true %}

                <article class='storage'>
                    <ul>
                        <a href="{{ path('storage_space_one', { 'id' : storageSpace.id } ) }}">
                        
                            <li >
                                {% if storageSpace.images %}
                                    <img class="img_storage_page_get_all" src= "{{ asset('/uploads/images/' ~ storageSpace.images) }}" alt="" > 
                                {% else %}
                                    <img class="img_storage_page_get_all" src= "{{ asset('/uploads/default/default.jpg') }}" alt="" > 
                                {% endif %}
                            </li>

                            <li class='storage_title'> {{ storageSpace.title }} </li>
                            {# <li class='storage_description'> Description : {{ storageSpace.description }} </li> #}
                            <li class='storage_category'> Categorie : {{ storageSpace.category.name }} </li>
                            <li class='storage_position'>
                                <span> {{ storageSpace.adresse }}  </span> 
                                <span> {{ storageSpace.postalCode }} </span> 
                                <span> {{ storageSpace.city }} </span>
                            </li>
                            <li class='storage_space'> {{ storageSpace.space }} m2</li>
                            <li class='storage_price_days'> {{ storageSpace.priceByDays / 100 | number_format(2, '.', ' ') }} € / jours</li>
                            <li class='storage_price_month'> {{ storageSpace.priceByMonth / 100 | number_format(2, '.', ' ') }} € / mois</li>
                            {# <li class='storage_date_create'>Créer le : {{ storageSpace.createdAt | date('d/m/Y H:i') }} </li> #}
                        </a>
                    </ul>
                </article>
            {% else %}
            {% endif %}

        {% endfor %}
    </section>
</div>
{% endblock %}
