<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}

        {% block javascrpit2 %}
            <script src="https://js.stripe.com/v3/"></script>
        {% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href='{{ path('storage_space_all') }}' >Accueil</a></li>

                    {% if app.user %}
                        <li><a href="{{ path('storage_space_add' ) }}" >Ajouter un espace de stockage</a></li>
                        <li>
                            Tableau de bord
                            <ul>
                                <li>
                                    <form id="manage-billing-form" method='POST'>
                                        <input type='hidden' id='session_id' value={{ app.request.get('stripeSessionId') }}>
                                        <button type='submit'>Gérer mon abonnement actuel</button>
                                    </form>
                                </li>
                                <li><a href="{{ path('booking_for_user') }}">Mes payements</a></li>
                                <li><a href="{{ path('storage_space_for_user') }}">Mes annonces d'espace de stockage</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ path('user_one', { 'id' : app.user.id }) }}"> Mon compte </a></li>
                        <li><a href="{{ path('app_logout') }}"> Déconnexion </a></li>
                    {% else %}
                        <li><a href="{{ path('app_registration') }}"> Inscription </a></li>
                        <li><a href="{{ path('app_login') }}"> Connexion </a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        {% block body %}{% endblock %}
        {% block script %}{% endblock %}
        {% block stripe_success %}{% endblock %}
    </body>
    {% block script_facture %}

        <script>
            let sessionId = document.getElementById('session_id').value;

            const manageBillingForm = document.querySelector('#manage-billing-form');
            manageBillingForm.addEventListener('submit', function(e) {
            e.preventDefault();
            fetch('/customer/portal', {
                method: 'POST',
                headers: {
                'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    sessionId: sessionId
                }),
            })
                .then((response) => {
                    
                    return response.json()
                })
                .then((data) => {
                    console.log(data)
                    window.location.href = data.url;
                })
                .catch((error) => {
                console.error('Error:', error);
                });
            });
        </script>
    {% endblock %}
</html>
