<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}

        {% block javascrpit2 %}
            <script src="https://js.stripe.com/v3/"></script>
        {% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href='{{ path('storage_space_all') }}' >Accueil</a></li>

                    {% if app.user %}
                        <li><a href="{{ path('storage_space_add' ) }}" >Ajouter un espace de stockage</a></li>
                        <li>
                            Tableau de bord
                            <ul>
                                <li><a href="{{ path('booking_for_user') }}">Mes payements</a></li>
                                <li><a href="{{ path('storage_space_for_user') }}">Mes annonces d'espace de stockage</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ path('user_one', { 'id' : app.user.id }) }}"> Mon compte </a></li>
                        <li><a href="{{ path('app_logout') }}"> Déconnexion </a></li>
                    {% else %}
                        <li><a href="{{ path('app_registration') }}"> Inscription </a></li>
                        <li><a href="{{ path('app_login') }}"> Connexion </a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        {% block body %}{% endblock %}
        {% block script %}{% endblock %}
    </body>
</html>
