{% extends 'base.html.twig' %}

{% block title %}Espaces de stockage{% endblock %}

{% block body %}

<div class="contrainer">
    <h1>Espaces de stockage</h1>

    <section>
        <article>

            <ul>

                <div>
                    {# <img src= "{{ asset('/images/products/' ~ storageSpace.image) }}" alt="" > #}
                </div>

                <li> {{ storageSpace.title }} </li>
                <li> {{ storageSpace.description }} </li>
                <li> 
                    <span> {{ storageSpace.adresse }}  </span> 
                    <span> {{ storageSpace.postalCode }} </span> 
                    <span> {{ storageSpace.city }} </span>
                </li>
                <li> {{ storageSpace.type }} </li>
                <li> {{ storageSpace.space }} m2</li>
                <li> {{ storageSpace.price }} € / mois</li>
                <li>Créer le : {{ storageSpace.dateCreatedAt | date('d/m/Y H:i') }} </li>

                {% if app.user %}
                    <li>
                        <span>
                            <a href="{{ path('storage_space_edit', { 'id' : storageSpace.id } ) }}">Modifier</a>
                        </span>

                        <span>
                            <a href="{{ path('storage_space_delete', { 'id' : storageSpace.id } ) }}">Supprimer</a>
                        </span>
                    </li>
                {% else %}
                {% endif %}

            </ul>
        </article>

        <article>
            <div>
                <h2>Liste des commentaires</h2>

                {% for comment in storageSpace.comments %}

                    {% if comment.parent == null %}
                    
                        <h3>Commentaire de {{ comment.owner.lastName }} {{ comment.owner.firstName }}</h3>
                        <p>Le {{ comment.dateCreatedAt | date('d/m/Y H:i') }}</p>
                        <p>{{ comment.content }}</P>
                        <p><a href="#add-comment" data-reply data-id="{{ comment.id }}">Répondre</a></p>
                        {# dataset https://developer.mozilla.org/fr/docs/Web/API/HTMLOrForeignElement/dataset #}

                        {# on affiche les réponses #}
                        {% for reply in comment.replies %}
                            <p>Réponse publié par <strong> {{ reply.owner.lastName }} {{ reply.owner.firstName }} </strong> le {{ reply.dateCreatedAt | date('d/m/Y H:i') }}</p>
                            <p>{{ reply.content }}</P>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>

            <div id="add-comment">
                <h2>Ajouter un commentaire</h2>

                {{ form_start(formComment, { 'attr' : { 'class' : 'form' }} ) }}

                    <div class="form_group">

                        <div class="form-error">
                            {{ form_errors(formComment.content) }}
                        </div>

                        <label for="inputTitle">Commentaire : </label>

                        <div>
                            {{ form_widget(formComment.content, {attr : {class : 'form_control' }} ) }}
                        </div>
                        
                        <small>{{ form_errors(formComment.content) }} </small>

                    </div>

                    <button type="submit" class="btn_submit">Ajouter</button>

                {{ form_end(formComment) }}
            </div>
        </article>
    </section>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        window.onload = () => {
            document.querySelectorAll("[data-reply]").forEach(element => {
                element.addEventListener("click", function(){
                    document.querySelector("#comment_parentid").value = this.dataset.id;         
                })
            });
        }
    </script>
{% endblock %}